.block {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: top;

  span {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
  }

  &--triangle {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 40px solid;

    span {
      position: absolute;
      top: calc(100% + 1rem);
    }
  }

  &--circle {
    border-radius: 50%;
  }

  &--square,
  &--circle {
    width: 40px;
    height: 40px;
  }
}
