<template src="./Block.html"></template>
<style lang="scss" src="./Block.scss" scoped></style>

<script>
import { CIRCLE, SQUARE, TRIANGLE } from '@/helpers/constants'

export default {
  name: 'Block',
  props: {
    block: {
      type: Object,
      required: true
    }
  },
  computed: {
    blockType () {
      const { type } = this.block

      switch (type) {
        case CIRCLE:
          return 'block--circle'
        case SQUARE:
          return 'block--square'
        case TRIANGLE:
          return 'block--triangle'
        default:
          return ''
      }
    },
    computedStyles () {
      const {
        horizontalPosition,
        verticalPosition,
        color,
        type,
        size
      } = this.block

      const styles = {
        left: `${horizontalPosition * 10}%`,
        borderBottomColor: type === TRIANGLE ? color : undefined,
        backgroundColor: type !== TRIANGLE ? color : undefined,
        zIndex: type
      }

      if (horizontalPosition <= 4) {
        styles.transform = `translateY(-${100 * size}%) scale(${size})`
      } else {
        styles.transform = `translate(-100%, -${100 * size}%) scale(${size})`
      }

      if (verticalPosition === null) {
        styles.top = '100%'
      }

      return styles
    }
  }
}
</script>
