<template src="./Navigation.html"></template>
<style lang="scss" src="./Navigation.scss" scoped></style>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Navigation',
  computed: {
    ...mapGetters({
      status: 'game/getStatus',
      score: 'game/getScore'
    }),
    gameStatus () {
      switch (this.status) {
        case '':
          return this.startGame
        case 'pause':
          return this.continueGame
        default:
          return this.pauseGame
      }
    },
    buttonName () {
      switch (this.status) {
        case '':
          return 'Play'
        case 'pause':
          return 'Play'
        default:
          return 'Pause'
      }
    }
  },
  methods: {
    ...mapActions(['startGame', 'pauseGame', 'continueGame'])
  }
}
</script>
