.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  &--buttons {

    &__btn {
      appearance: none;
      cursor: pointer;
      margin: 0 15px;
      border: 2px solid #CC4125;
      border-radius: 50px;
      width: 200px;
      height: 30px;
      font-weight: 600;
    }
  }

  &--score {
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;

    span {
      font-size: 20px;
      color: #CC4125;
    }
  }
}
