<div class="navigation">
  <div class="navigation--buttons">
    <button
      class="navigation--buttons__btn"
      @click="gameStatus"
    >{{ buttonName }}</button>
  </div>
  <div class="navigation--score">
    Score:
    <span>{{ score }}</span>
    points
  </div>
</div>
