<template src="./FallingArea.html"></template>
<style lang="scss" src="./FallingArea.scss" scoped></style>

<script>
import { mapGetters, mapMutations } from 'vuex'
import { LEFT_ARROW_CODE, RIGHT_ARROW_CODE } from '@/helpers/constants'
import Block from '../Block'

export default {
  name: 'FallingArea',
  components: { Block },
  computed: {
    ...mapGetters({
      fallingBlock: 'block/getFallingBlock'
    })
  },
  methods: {
    ...mapMutations({
      moveFallingBlock: 'block/moveFallingBlock'
    }),
    moveBlock ({ keyCode }) {
      let condition, functionName

      if (keyCode === LEFT_ARROW_CODE && this.fallingBlock) {
        condition = this.fallingBlock.horizontalPosition > 0
        functionName = 'moveLeft'
      } else if (keyCode === RIGHT_ARROW_CODE && this.fallingBlock) {
        condition = this.fallingBlock.horizontalPosition < 4
        functionName = 'moveRight'
      }

      this.oneMoveStep({ condition, functionName })
    },
    oneMoveStep ({ condition, functionName }) {
      if (condition) {
        this.moveFallingBlock(functionName)

        this.$refs[`block-${this.fallingBlock.id}`]
          .$el.style.left = `${this.fallingBlock.horizontalPosition}px`
      }
    }
  },
  mounted () {
    window.addEventListener('keydown', this.moveBlock)
  },
  beforeDestroy () {
    window.removeEventListener('keydown', this.moveBlock)
  }
}
</script>
