.balance {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--board {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #CC4125;
    transition: 100ms ease-in-out;
  }

  &--platform {
    width: 120px;
    height: 120px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color:#666;
  }
}
