<div class="balance">
  <div class="balance--board" :style="boardStyles">
    <Block
      v-for="block in leftBlocks"
      :key="block.id"
      :block="block"
    />
    <Block
      v-for="block in rightBlocks"
      :key="block.id"
      :block="block"
    />
  </div>
  <div class="balance--platform"></div>
</div>
