<template src="./Balance.html"></template>
<style lang="scss" src="./Balance.scss" scoped></style>

<script>
import { mapGetters } from 'vuex'
import Block from '../Block'

export default {
  name: 'Balance',
  components: { Block },
  computed: {
    ...mapGetters({
      platformAngle: 'game/getPlatformAngle',
      rightBlocks: 'block/getRightBlocks',
      leftBlocks: 'block/getLeftBlocks'
    }),
    boardStyles () {
      return { transform: `rotate(${this.platformAngle}deg)` }
    }
  }
}
</script>
