<template src="./GameArea.html"></template>
<style lang="scss" src="./GameArea.scss" scoped></style>

<script>
import Balance from '../Balance'
import FallingArea from '../FallingArea'

export default {
  name: 'GameArea',
  components: {
    FallingArea,
    Balance
  }
}
</script>
