<template>
  <div id="app">
    <Navigation />
    <GameArea />
  </div>
</template>

<script>
import Navigation from './components/Navigation'
import GameArea from './components/GameArea'

export default {
  name: 'app',
  components: {
    Navigation,
    GameArea
  }
}
</script>

<style lang="scss">
  html,
  body,
  #app {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  html {
    overflow-y: auto !important;
  }

  #app {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    padding: 25px;
  }
</style>
